<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bookmanager</title>
</head>
<body>
    <h1>Add Book</h1>
    <form action="/" method="POST">
        <input type="text" name="title">
        <input type="submit" value="Add">
    </form>
    
    <h1>Books</h1>
    <table>
    {% for book in books %}
    <tr>
        <td>
            {{book.title}}
        </td>
        <td>
            <form action="./update" method="post">
                <input type="hidden" name="oldtitle" value="{{book.title}}">
                <input type="text" name="newtitle" value="{{book.title}}">
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form action="./delete" method="POST">
                <input type="hidden" name="title" value="{{book.title}}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>